body{
    background-color: aqua;

}
.sce{display: flex;


}
#d3{

}
#d2{display: inline;
    
}
nav ul li{
    list-style: none;
    padding: right 10em;
    padding-left: 3em; 
    margin: 5px;
    text-align: center;
    display: inline;}
    .ge{
        display: flex;
        font-size: 15px;
        padding: 30px;
        margin-top: 10px;
        margin-left: 30px;
gap: 50rem;


    }
    #l1{
        border-radius: 100%;
    
    }
    
    
    

    